.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 30px;
  padding: 30px;
  margin-top: 30px;

  .image {
    margin: 30px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 400px;
    width: 100%;
    max-width: 400px;

    .thumbnail {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }

    .image-title {
      position: absolute;
      top: 300px;
      color: white;
      font-family: Montserrat;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0.1, 0.5),
        rgba(1, 1, 1, 1)
      );
      height: 100%;
      width: 97%;
      padding-left: 10px;
    }
  }

  @media screen and (max-width: 1110px) {
    background-color: white;
    padding: 0;
    width: 100%;

    .image {
      width: 100%;
      height: 400px;
      margin: 0;
      max-width: 650px;
    }
  }
}
