.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  gap: 30px;
  padding: 30px;
  margin-top: 30px;
}

.image {
  margin: 30px;
  border-radius: 25px;
  overflow: hidden;
}

.thumbnail {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.image {
  position: relative;
  display: inline-block;
  margin: 10px; /* Ajustez la marge selon vos besoins */
}

.image-title {
  position: absolute;
  top: 320px; /* Ajustez la position verticale du titre par rapport à l'image */
  left: 10px; /* Ajustez la position horizontale du titre par rapport à l'image */
  color: #fff; /* Couleur du texte du titre */
  padding: 5px 10px; /* Espace de remplissage autour du texte du titre */
  font-size: 14px; /* Taille de police du titre */
  border-radius: 5px; /* Coins arrondis pour le titre */
}
