@mixin custom-text-style {
  color: #FF6060;
  font-family: Montserrat;
  font-style: normal;
}

@mixin custom-styles {
  background-color: #FF6060;
  color: #FFF;
  font-family: Montserrat;
} 

@mixin flexbox-styles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

