@import '../../pages/styles/style.scss';


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  width: 100%;
  margin-top: 30px;

  .nav-list {
    @include flex-row;


    .nav-item {
      margin-right: 20px;
    }
  }
}

/* Header.scss */
.link {
  text-decoration: none; 
  @include custom-text-style; 



  &:hover {
    text-decoration: underline;
  }

  &.active {
    text-decoration: underline; 
  }

  &:active {
    text-decoration: underline; 
  }
}

@media screen and (max-width: 720px) {
  .nav-list .link {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 720px) {
  .header {
    @include flex-row;


    .logo {
      width: 30%;

      .logo-image {
        width: 100%;
      }
    }

    .nav-list {
      @include flex-row;
      padding: 0;
    }
  }
}