.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 20px;
}

.link {
  text-decoration: none;
  color: red;
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .logo {
    width: 30%;
  }
  .logo-image {
    width: 100%;
  }
  .nav-list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
