.carousel-container {
  position: relative;
}

.icon-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 70px;
  cursor: pointer;
  color: white;
}

.icon-left {
  left: 10px;
}

.icon-right {
  right: 10px;
}
