@import '../styles/style.scss';


.not-found {
  @include custom-text-style; 
  text-align: center;
  font-size: 288px;
  font-weight: 800;
  margin-top: 50px;
  margin-bottom: 50px;

  @media (max-width: 800px) {
    font-size: 150px;
  }
}
.not-found-paragraph {
  text-align: center;
  @include custom-text-style; 
  font-size: 36px;
  @media (max-width: 800px) {
    font-size: 20px;
  
    
  }

}
.link-to-home {
  @include custom-text-style; 
  font-size: 18px;
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
}
